.page {
  width: 100%;
  max-width: 1280px;
  background: #2a2c2f;
  margin: 0 auto;
  color: #fff;
  padding: 0 48px;

  /* Шрифты */
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Масштабирование шрифтов*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /*Рендеринг*/
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0 16px;
  }
}
